
@model List<Favorite>
<partial name="_PartialSidebar"></partial>
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Favoriler</h2>
                    <div class="breadcrumb__option">
                        <a asp-controller="Home" asp-action="Index">Anasayfa</a>
                        <span>Favori</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product">Ürünler</th>
                                <th>Fiyat</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Favorite item in Model)
                            {
                                <tr>
                                    <td class="shoping__cart__item">
                                        <a asp-controller="Product" asp-action="ProductDetails" asp-route-id="@item.ProductId">
                                        <img src="/product/@item.Product.Image" alt="" style="height:100px;width:100px;">
                                        <h5>@item.Product.Name</h5>
                                        </a>
                                    </td>
                                    <td class="shoping__cart__price">
                                        @item.Product.Price ₺
                                    </td>
                                    <td class="shoping__cart__quantity">
                                        <a class="primary-btn" asp-controller="Profile" asp-action="AddAndDeleteFromFavorite" asp-route-id="@item.FavoriteId" asp-route-userId="@item.UserId" asp-route-productId="@item.ProductId">Sepete Ekle</a>
                                    </td>
                                    <td class="shoping__cart__item__close">
                                        <a class="btn icon_close btnSil" data-toggle="modal" data-target="#exampleModal" data-urunAd="@item.Product.Name" data-urunId="@item.FavoriteId">

                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shoping Cart Section End -->
@section modal
    {
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Favoriyi Sil</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="mesaj"> </p>
                    <p class="hata"> </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                    <button type="button" class="btn btn-primary deleteFromFavorites">Evet</button>
                </div>
            </div>
        </div>
    </div>
}

@section scripts
    {
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(".btnSil").click(function () {
            $(".modal-body>p.hata").html = "";
            var urun = $(this).attr("data-urunAd");
            $(".modal-body>p.mesaj").html(urun + " favorilerden silinsin mi?");
            var urunId = $(this).attr("data-urunId");
            $(".deleteFromFavorites").data("urunId", urunId);
        });

        $(".deleteFromFavorites").click(function () {
            var id = $(this).data("urunId");
            $.ajax({
                type: "POST",
                url: "/Profile/DeleteFromFavorites/" + id,
                success: function (param) {
                    if (param == 1) {
                        window.location.replace("/Profile/Favorites");
                    }
                    else {
                        $(".modal-body>p.hata").html("Hata nedeniyle silinemedi");
                    }

                }
            })

        });
    </script>
}
