@model List<Product>
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Tüm Ürünler</h2>
                    <div class="breadcrumb__option">
                        <a asp-controller="Home" asp-action="Index">Anasayfa</a>
                        <span>Ürünler</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    @if (ViewBag.Category != 0 || ViewBag.Sort != 0 || ViewBag.Search != null)
                    {
                        <div class="sidebar__item">
                            <a asp-controller="Home" asp-action="Shop">
                                <h6>Filtreleri Sıfırla x</h6>
                            </a>

                        </div>
                    }
                    
                    <div class="sidebar__item ">
                        <h4>Kategori</h4>
                        <ul>
                            @foreach (Category item in ViewBag.Categories as List<Category>)
                            {
                                <li><a asp-controller="Home" asp-action="Shop" asp-route-category="@item.CategoryId" asp-route-sort="@ViewBag.Sort" asp-route-search="@ViewBag.Search">@item.CategoryName</a></li>
                            }
                        </ul>
                    </div>
                    <div class="sidebar__item">
                        <h4>Sırala</h4>
                        <ul>
                            <li><a asp-controller="Home" asp-action="Shop" asp-route-category="@ViewBag.Category" asp-route-sort="1" asp-route-search="@ViewBag.Search">Fiyat Azalan</a></li>
                            <li><a asp-controller="Home" asp-action="Shop" asp-route-category="@ViewBag.Category" asp-route-sort="2" asp-route-search="@ViewBag.Search">Fiyat Artan</a></li>
                            <li><a asp-controller="Home" asp-action="Shop" asp-route-category="@ViewBag.Category" asp-route-sort="3" asp-route-search="@ViewBag.Search">Son Eklenenler</a></li>
                        </ul>
                    </div>
                    <div class="sidebar__item">
                        <div class="latest-product__text">
                            <h4>Son Eklenenler</h4>
                            <div class="latest-product__slider owl-carousel">
                                <div class="latest-prdouct__slider__item">
                                    @foreach (Product item in ViewBag.Last as List<Product>)
                                    {
                                        <a asp-controller="Product" asp-action="ProductDetails" asp-route-id="@item.ProductId" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="/product/@item.Image" alt="@item.Name">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>@item.Name</h6>
                                                <span>@item.Price ₺</span>
                                        </div>
                                    </a>
                                    }
                                    

                                </div>
                                <div class="latest-prdouct__slider__item">

                                    @foreach (Product item in ViewBag.Last2 as List<Product>)
                                    {
                                        <a asp-controller="Product" asp-action="ProductDetails" asp-route-id="@item.ProductId" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="/product/@item.Image" alt="@item.Name">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>@item.Name</h6>
                                                <span>@item.Price ₺</span>
                                            </div>
                                        </a>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="product__discount">
                    <div class="section-title product__discount__title">
                        <h2>İndirimdeki Ürünler</h2>
                    </div>
                    <div class="row">
                        <div class="product__discount__slider owl-carousel">
                            @foreach (Product item in ViewBag.Sale as List<Product>)
                            {
                                <div class="col-lg-4">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                         data-setbg="/product/@item.Image">
                                            <div class="product__discount__percent">-20%</div>
                                            <ul class="product__item__pic__hover">
                                                <li><a asp-controller="Product" asp-action="AddToFavorites" asp-route-id="@item.ProductId" asp-route-category="@ViewBag.Category" asp-route-sort="@ViewBag.Sort" asp-route-page="@ViewBag.Page" asp-route-search="@ViewBag.Search"><i class="fa fa-heart"></i></a></li>
                                                <li><a asp-controller="Product" asp-action="ProductDetails" asp-route-id="@item.ProductId" asp-route-search="@ViewBag.Search"><i class="fa fa-eye"></i></a></li>
                                                @if (item.Stock >0)
                                                {
                                                    <li><a asp-controller="Product" asp-action="AddToBasket" asp-route-id="@item.ProductId" asp-route-category="@ViewBag.Category" asp-route-sort="@ViewBag.Sort" asp-route-page="@ViewBag.Page" asp-route-search="@ViewBag.Search"><i class="fa fa-shopping-cart"></i></a></li>
                                                }
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>Dried Fruit</span>
                                            <h5><a href="#">@item.Name</a></h5>
                                            <div class="product__item__price">@item.Price ₺<span>@(item.Price + (item.Price * 1 / 5)) ₺</span></div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="filter__found">
                                <h6><span>@ViewBag.Count</span> Ürün Bulundu</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @foreach (Product item in Model)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="/product/@item.Image">
                                    <ul class="product__item__pic__hover">
                                        <li><a asp-controller="Product" asp-action="AddToFavorites" asp-route-id="@item.ProductId" asp-route-category="@ViewBag.Category" asp-route-sort="@ViewBag.Sort" asp-route-page="@ViewBag.Page" asp-route-search="@ViewBag.Search"><i class="fa fa-heart"></i></a></li>
                                        <li><a asp-controller="Product" asp-action="ProductDetails" asp-route-id="@item.ProductId" asp-route-category="@ViewBag.Category" asp-route-sort="@ViewBag.Sort" asp-route-search="@ViewBag.Search"><i class="fa fa-eye"></i></a></li>
                                        <li><a asp-controller="Product" asp-action="AddToBasket" asp-route-id="@item.ProductId" asp-route-category="@ViewBag.Category" asp-route-sort="@ViewBag.Sort" asp-route-page="@ViewBag.Page" asp-route-search="@ViewBag.Search"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a asp-controller="Product" asp-action="ProductDetails" asp-route-id="@item.ProductId" asp-route-category="@ViewBag.Category" asp-route-sort="@ViewBag.Sort" asp-route-search="@ViewBag.Search">@item.Name</a></h6>
                                    <h5>@item.Price ₺</h5>
                                </div>
                            </div>
                        </div>
                    }
                    
                </div>
                <div class="product__pagination">

                    @if (ViewBag.Page != 1)
                    {
                        <a asp-controller="Home" asp-action="Shop" asp-route-page="1" asp-route-category="@ViewBag.Category" asp-route-sort="@ViewBag.Sort" asp-route-search="@ViewBag.Search"><i class="fa fa-long-arrow-left"></i></a>
                        <a asp-controller="Home" asp-action="Shop" asp-route-page="@(ViewBag.Page - 1)" asp-route-category="@ViewBag.Category" asp-route-sort="@ViewBag.Sort" asp-route-search="@ViewBag.Search">@(ViewBag.Page - 1)</a>
                        <a asp-controller="Home" asp-action="Shop" asp-route-page="@ViewBag.Page" asp-route-category="@ViewBag.Category" asp-route-sort="@ViewBag.Sort" asp-route-search="@ViewBag.Search">@ViewBag.Page</a>
                        if (ViewBag.PageCount > ViewBag.Page)
                        {
                            <a asp-controller="Home" asp-action="Shop" asp-route-page="@(ViewBag.Page + 1)" asp-route-category="@ViewBag.Category" asp-route-sort="@ViewBag.Sort" asp-route-search="@ViewBag.Search">@(ViewBag.Page + 1)</a>
                            
                        }     
                    }
                    else if (ViewBag.PageCount < 3)
                    {
                        <a asp-controller="Home" asp-action="Shop" asp-route-page="1" asp-route-category="@ViewBag.Category" asp-route-sort="@ViewBag.Sort" asp-route-search="@ViewBag.Search">1</a>
                        for (int i = 2; i <= ViewBag.PageCount; i++)
                        {
                            <a asp-controller="Home" asp-action="Shop" asp-route-page="@i" asp-route-category="@ViewBag.Category" asp-route-sort="@ViewBag.Sort" asp-route-search="@ViewBag.Search">@i</a>
                        }
                    }
                    else
                    {
                        <a asp-controller="Home" asp-action="Shop" asp-route-page="1" asp-route-category="@ViewBag.Category" asp-route-sort="@ViewBag.Sort" asp-route-search="@ViewBag.Search">1</a>
                        <a asp-controller="Home" asp-action="Shop" asp-route-page="2" asp-route-category="@ViewBag.Category" asp-route-sort="@ViewBag.Sort" asp-route-search="@ViewBag.Search">2</a>
                        <a asp-controller="Home" asp-action="Shop" asp-route-page="3" asp-route-category="@ViewBag.Category" asp-route-sort="@ViewBag.Sort" asp-route-search="@ViewBag.Search">3</a>
                    }
                    @if (ViewBag.Page != ViewBag.PageCount && ViewBag.PageCount > 1)
                    {
                        <a asp-controller="Home" asp-action="Shop" asp-route-page="@ViewBag.PageCount" asp-route-category="@ViewBag.Category" asp-route-sort="@ViewBag.Sort" asp-route-search="@ViewBag.Search"><i class="fa fa-long-arrow-right"></i></a>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->


